# Using API key
GEMINI_API_KEY="API KEY"

# If using google ADC, define the PROJECT_ID, LOCATION and modify config.py to read them
# USE_VERTEXAI=TRUE
# VERTEXAI_PROJECT_ID="gcp-project-id"
# VERTEXAI_LOCATION="global"

SAFETY_AUTO_PROCEED=TRUE